DATABASE_URL="postgresql://postgres:99100531@localhost:5432/school"

DATABASE_URL="postgres://19009cbf0b316db9b8167759dc436d34857a96bfa5fe549f9aa2b8c5430d75ae:sk_wOl7DdxRdBXLb7V61H8jj@pooled.db.prisma.io:5432/postgres?sslmode=require"


JWT_SECRET="your-secret-key-change-in-production"
